main {
  max-width: 600px;
  margin: 40px auto;
  font-family: "Segoe UI", Arial, sans-serif;
}

form {
  display: grid;
  justify-content: center;
  align-items: start;
  position: relative;

  grid-template-columns: 100px 400px 100px;
  grid-template-rows: 50px 200px 100px 50px;
  row-gap: 0;

}


.card-front,
.card-back {
  width: 390px;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-self: start;
  align-self: start;
}
.card-back {
  background-color: #dcdcdc;
  
  grid-row: 2 / 3; 
  grid-column: 2 / 3;
  
  z-index: 1;
  padding: 20px;
}


#mag {
  background-color: #2c3034;
  width: calc(100% + 40px);
  height: 40px;
  margin: 0 -20px 25px -20px;
  border-radius: 4px;
}


#cvc input {
  width: 40px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: white;
}


.card-front {
  background-color: #f2f2f2;
  
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  
  z-index: 2;
  padding: 20px 30px;
  color: #222;
}


#total {
  font-size: 14px;
  margin-bottom: 15px;
}

.card-image {
  position: absolute;
  top: 10px;
  left: 300px;
}

.card-front input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: white;
}

#num,
#name,
#exp {
  margin-bottom: 15px;
}

#exp input {
  width: 60px;
  margin-right: 8px;
  display: inline;
}

#exp label{
    margin-right: 80px;
}


button {
  justify-self: end;
  align-self: start;
  grid-row: 4; 
  grid-column: 2;
  
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
  border: 2px solid #333;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color: #f8f8f8;
}
#cvc{
    text-align: right;
    display: block;
    justify-content: right;
    margin-left: 280px;
    width: 20px;
}
